.nav-bar {
    display: flex;

    padding-bottom: .75rem;
    padding-top: 1.75rem;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 75px;
    margin-right: 1rem;
}

:global(.button).nav-button {
    margin-left: 1rem;
}