.login{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 5rem; 
}

.boxbox{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.login h3{
    font-size: 2rem;
    font-weight: bold;
    margin: .3rem;
}

.logo{
    width: 10rem;
}

.signup {
    margin-left: .5rem;
}

.not-registered{
    display: flex;
    align-items: center;
}